.header {
  width: 100vw;
  height: auto;
  background: #060c11;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  box-sizing: border-box;
  object-fit: cover;
}
.center_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.center_h1 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 20px;
  margin-left: -28px;
}

.center_span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 10px;
  margin-left: -15px;
}
.center_span_two {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 10px;
  margin-left: -50px;
}

.header_style_img {
  width: 100%;
  max-width: 1440px;
  height: auto;
  border: 183px;
  margin-top: 120px;
  position: absolute;
  overflow: hidden;
  object-fit: cover;

  box-sizing: border-box;
}

.write {
  display: grid;
  place-items: center;
  color: #fbfbfb;
  gap: 160px;
  margin-top: 35%;
  grid-template-columns: 362px 367px;
  padding: 40px 30px;
}

.write > * {
  box-sizing: border-box;
}
.write_one {
  display: grid;
  place-items: center;
  color: #fbfbfb;
  margin-top: -60%;
  margin-left: -13%;
  grid-template-columns: 362px;
}
.wo_f {
  width: 362px;
  height: max-content;
  top: 50px;
  left: 60px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-left: 20%;
  position: relative;
  color: #fbfbfb;
}
.wo_sec {
  width: 362px;
  height: max-content;
  top: 50px;
  left: 60px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0px;
  position: relative;
  color: #3d57d9;
}
.write_two {
  width: 577px;
  height: 51px;
  top: -70px;
  left: 150px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #fbfbfb;
  position: relative;
}


//------->>>>>>>>>>>>>> media queries


@media (max-width:1300px) {
  .center_text{
    margin-top: 100px;
  }
  .write{
    display: none;
  }
  
}
@media (max-width:900px) {
  .center_text{
    margin-top: 90px;
  }
  .center_h1{
    font-size: 44px;
  }
  
}
@media (max-width:800px) {
  .center_text{
    margin-top: 50px;
  }
  .center_h1{
    font-size: 24px;
    margin-bottom: -4px;
  }
  .center_span{
    font-size: 14px;
  }
  .center_span_two{
    font-size: 12px;
  }
}
@media (max-width:600px) {
  .center_text{
    margin-top: 20px;
  }
  .center_h1{
    font-size: 24px;
    margin-bottom: -4px;
  }
  .center_span{
    font-size: 14px;
  }
  .center_span_two{
    font-size: 12px;
  }
  .header_style_img{
    margin-top: 160px;
  }
}
@media (max-width:450px) {
  .center_text{
    margin-top: 5px;
    margin-left: 50px;
  }
  .center_h1{
    font-size: 24px;
    margin-bottom: -24px;
  }
  .center_span{
    font-size: 14px;
    margin-bottom: -1px;
  }
  .center_span_two{
    font-size: 12px;
  }
  .header_style_img{
    margin-top: 170px;
  }
}

